body {
  font-size: 15px;
}
.ReactTable > .rt-table > .rt-thead {
  background-color: #003b65;
  color: white;
  font-weight: 600;
}
.ReactTable > .rt-table > .rt-tbody .rt-td {
  padding: 0px !important;
}
.rt-resizable-header-content {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rt-th, .rt-td {
  border-left: 1px solid rgba(0,0,0,0.02);
  border-top: 1px solid rgba(0,0,0,0.02);
  border-color: white;
}
.rt-th > input {
  border-radius: 0px !important;
}
.-filters {
  border-bottom: 0px !important;
}
.page-item.active .page-link {
  background-color: #003b65;
  border-color: #003b65;
}
.page-link {
  color: #003b65;
}

.rt-tr-group > .-odd {
  background-color: #eff4fe !important;
}

.rt-tr-group > .rt-tr:hover {
  background-color: #d5dcea !important;
}
.style-col {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pd-7-5 {
  padding: 7px 5px;
}
.float-right {
  float: right;
}
.mr-5-7 {
  margin: 5px 7px;
}